* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #1a1a1a;
  background-color: $lightGray;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
