$lightBackground: #fdfdfd;
$mainColor: #2cbe60;
$lightGray: #f4f4f4;
$headerGreen: #3f5252;

$headerHeight: 70px;

$maxContent: 1280px; // max-width for page content
$iPadMini: 850px; // @media for iPadMini 768px;
$iPhoneSE: 550px; // @media for iPhoneSE 320px;

$textShift: 100px; // preview section

$actualText: 370px; // for Main Actual section
$verticalPadding: 115px; // paddings for Main Actual section text
$horizontalPaddings: 100px; // paddings for Main Actual section text

